.gallerswipe { /* 100+1=101 priority score, yay! */
   /* display: grid;
    grid-gap: 2px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 32% 32% 3%;
    grid-template-areas:
        "h m "
        "c f"
        "g s";
}

.hea {
    grid-area: h;
padding-top: -15px;
}

.men {
    grid-area: m;
}

.con {
    grid-area: c;
}

.foo {
    grid-area: f;
}

.goo {
    grid-area: g;
}

.soo {
    grid-area: s;
}

@media screen and (max-width: 478px) {
    .gallerswipe { !* 100+1=101 priority score, yay! *!
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "h"
        "m"
        "c"
        "f"
        "g"
        "s";}
}


.photos_b {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: auto;*/

 display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;


}


